body{
    background-color:#FAE0E4;
}
h1{color:#FF0A54;
}

h2{color: #FF477E;
    font-size:23px;
}

#maryland a{
    color:#A4133C;
}

h3{color:#FF5C8A;
    font-size:23px;
}

#kansas a{
    color:#C9184A;
}

h4{color:#FF7096;
    font-size:23px;
}

#arkansas a{
    color:#FF4D6D;
}

h5{color:#FF85A1;
    font-size:23px;
}

#maine a{
    color:#FF758F;
}

h6{color:#FF99AC;
    font-size:23px;
}

#alaska a{
    color:#FF8FA3;
}