body{
    margin: 0;
    padding: 0;
    background-color: #B5C99A;
}

#wrap{
    width: 80%;
    margin: 0 auto;
}

header, nav, section, footer {
    padding: 2%;
    margin: 2%;
    background-color: #E9F9DB;
    color: #718355;
}

a{
    color:#718355;
}

header{
    text-align: center;
    font-size: xx-large;
    font-family: monospace, sans-serif;
}

h1{
    text-decoration-line: underline;
    font-family: monospace;
    font-size: xx-large;
}

h4{
    font-size: small;
    font-family: monospace, sans-serif;
}
footer{
    text-align: center;
    font-size: medium;
    font-family: monospace;
}
